@import url("/fonts/B612-Regular/B612.css");
@import url("/fonts/Inter/inter.css");
@import url("/fonts/Berkeley-Mono-Variable/Berkeley-Mono.css");

:root {
    color-scheme: light dark; /* theme native UI (scrollbars, canvas) to match prefers-color-scheme */

    --dark-red: darkred;
    --oasis-blue: rgb(46 184 255);
    --text-color: #f0f0f0;
}

body {
    color: var(--text-color);
    display: grid;
    font-family: InterVariable, sans-serif;
    font-optical-sizing: auto;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1rem;
    visibility: visible;

    & img {
        border-radius: 5px;
    }

    & main {
        grid-column: 1 / 5;

        & > p:first-child,
        & > h1:first-child,
        & > h2:first-child,
        & > h3:first-child,
        & > h4:first-child,
        & > h5:first-child,
        & > h6:first-child {
            margin-top: 0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: B612-Regular, serif;
}

h1 {
    font-size: 3.157rem;
}

h2 {
    font-size: 2.369rem;
}

h3 {
    font-size: 1.777rem;
}

h4 {
    font-size: 1.333rem;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

a {
    color: var(--oasis-blue);
    text-decoration: none;
}

blockquote {
    font-style: italic;
}

code {
    font-family: "Berkeley Mono Variable", monospace;
    font-weight: lighter;
}

pre {
    line-height: 125%;
    white-space: pre-wrap;
}

site-header,
site-footer {
    display: contents;
}

header {
    border-bottom: 1px solid var(--dark-red);
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(3, 1fr);

    & a {
        color: var(--text-color);
        text-decoration: none;
    }

    & h1 {
        grid-column: 1 / 3;
    }

    & nav {
        align-self: center;
        display: flex;
        font-family: B612-Regular, serif;
        font-size: 2rem;
        gap: 1rem;
        grid-column-end: 5;
        justify-content: end;

        & .current {
            text-decoration: underline;
            text-decoration-color: darkred;
            text-decoration-thickness: 3px;
            text-underline-offset: 10px;
        }
    }

    @media (width <= 30rem) {
        padding-bottom: 1em;

        & h1 {
            grid-column: 2;
            place-self: center;
            text-wrap: nowrap;
        }

        & nav {
            grid-column: 2;
            grid-row: 2;
            place-self: center;
        }
    }
}

footer {
    border-top: 1px solid var(--dark-red);
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    row-gap: 1em;
}

#social-media-links {
    align-self: center;
    display: flex;
    gap: 1em;
    grid-column: 2;
    justify-content: center;

    & a {
        text-decoration: none;
    }
}

#clicky {
    place-self: end;

    @media (width <= 30rem) {
        grid-column: 2;
        grid-row: 2;
        place-self: center;
    }
}

#github {
    filter: invert(1);
}

sub-nav {
    display: block;
    grid-column: 4;
    grid-row: 2;

    & label {
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    & nav a {
        border-top: 1px solid var(--dark-red);
        display: block;
        padding: 0.7rem 0;
        text-wrap: balance;

        &.current {
            color: var(--text-color);

            &::before {
                content: "› ";
            }
        }
    }

    @media (width <= 55rem) {
        grid-column: 1 / 5;
        grid-row: 2;
    }
}

body:has(sub-nav) main {
    grid-column: 1 / 4;
    grid-row: 2;

    @media (width <= 55rem) {
        grid-column: 1 / 5;
        grid-row: 3;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --oasis-blue: rgb(0 120 180);
        --text-color: #444;
    }

    #github {
        filter: invert(0);
    }

    #pjhd-logo {
        filter: invert(1);
    }
}
