
@font-face {
  font-family: 'B612-Regular';
  src: url('B612-Regular.eot?#iefix') format('embedded-opentype'),  url('B612-Regular.woff') format('woff'), url('B612-Regular.ttf')  format('truetype'), url('B612-Regular.svg#B612-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
