body {
	margin: 0;
	font-family: Inter, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #222;
	color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
	font-family: B612-Regular, monospace;
	margin: 1em 0 0;
	font-weight: 400;
	line-height: 1;
}

main > h1:first-child,
main > h2:first-child,
main > h3:first-child {
	margin: 0;
}

h1 {
	font-size: 3.157rem;
}

h2 {
	font-size: 2.369rem;
}

h3 {
	font-size: 1.777rem;
}

h4 {
	font-size: 1.333rem;
}

a {
	color: inherit;
}

code {
	font-family: Monoid Nerd Font, monospace;
	font-size: calc(1em - 2px);
	background-color: #000;
	color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}