@use "breakpoints"

body main
    display: grid
    grid-template-columns: subgrid
    grid-template-rows: 180px
    justify-items: end

    @media (max-width: breakpoints.$medium)
        grid-template-columns: 1fr
        gap: 2rem
        grid-template-rows: auto

#about-me
    grid-column: 1 / 4
    font-size: 1.2rem
    line-height: 1.6rem

    @media (max-width: breakpoints.$medium)
        grid-column: 1

#featured-projects
    grid-column: 2
    place-self: center
    text-align: center

    @media (max-width: breakpoints.$medium)
        grid-column: 1
        grid-row: 3

    div
        display: flex
        gap: 1rem
        justify-content: space-evenly

        @media (max-width: breakpoints.$small)
            flex-direction: column-reverse

#pic-of-me
    @media (max-width: breakpoints.$medium)
        display: flex
        grid-column: 1
        grid-row: 2
        justify-content: center
        flex-wrap: wrap-reverse
        width: 100%
