main
    grid-template-columns: 2fr 300px
    grid-template-rows: 150px
    justify-items: end
    column-gap: 2rem

    a
        display: inline-block
        text-decoration: none

    section:first-child
        font-size: 1.2rem
        line-height: 1.6rem

    section:last-child
        text-align: center
        width: 100%

        div
            display: flex
            justify-content: space-evenly
            margin-top: 2rem

            @media (max-width: 460px)
                flex-wrap: wrap-reverse
                gap: 2rem
                margin-top: 2rem

    @media (max-width: 790px)
        grid-template-columns: 1fr
        grid-template-rows: auto

        div
            display: flex
            justify-content: center
            grid-row: 2
            width: 100%

        section:last-child
            margin-top: 2rem
