main
    grid-template-rows: 150px
    justify-items: end

    @media (max-width: 55rem)
        grid-template-rows: auto
        //grid-template-columns: 1fr !important

#about-me
    grid-column: 1 / 4
    font-size: 1.2rem
    line-height: 1.6rem

    //@media (max-width: 55rem)
    //    grid-column: 2

#featured-products
    grid-column: 2
    place-self: center
    text-align: center

    //@media (max-width: 55rem)
    //    grid-column: 2
    //    grid-row: 3

    div
        display: flex
        gap: 1rem
        justify-content: space-evenly

//#pic-of-me
//    @media (max-width: 55rem)
//        display: flex
//        grid-column: 2
//        grid-row: 2
//        justify-content: center
//        flex-wrap: wrap-reverse
//        width: 100%
